<div class="box wide">
  <div class="legend right">
    <a href="/u/<%= @user.username %>"><%=t :viewprofile %></a>
  </div>
  <div class="legend">
    <%=t :accountsettings %>
  </div>

  <%= form_for @edit_user, :url => settings_url, :method => :post,
  :html => { :id => "edit_user" } do |f| %>
    <%= error_messages_for f.object %>

    <div class="boxline">
      <%= f.label :username, t(:usernamebox), :class => "required" %>
      <%= f.text_field :username, :size => 15 %>
      <span class="hint">
        <tt><%= User.username_regex %></tt>
      </span>
    </div>

    <div class="boxline">
      <%= f.label :password, t(:newpasswordbox), :class => "required" %>
      <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :password_confirmation, t(:confirmpasswordbox),
        :class => "required" %>
      <%= f.password_field :password_confirmation, :size => 40,
        :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :email, t(:emailaddressbox), :class => "required" %>
      <%= f.text_field :email, :size => 40 %>
      <span class="hint">
        <a href="http://www.gravatar.com/" target="_blank">Gravatar</a><%=t :ized %>
      </span>
    </div>

    <br>

    <div class="boxline">
      <%= f.label :pushover_user_key,
        raw("<a href=\"https://pushover.net/\">Pushover</a> User Key:"),
        :class => "required" %>
      <%= f.text_field :pushover_user_key, :size => 40 %>
      <span class="hint">
        <%=t :optionalcomment %>
      </span>
    </div>

    <div class="boxline">
      <%= f.label :pushover_device, t(:pushoverdevice),
        :class => "required" %>
      <%= f.text_field :pushover_device, :placeholder => "optional",
        :size => 15 %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_sound, t(:pushoversound),
        :class => "required" %>
      <%= f.select :pushover_sound, Pushover.sounds.map{|k,v| [ v, k ] } %>
    </div>

    <br>

    <div class="boxline">
      <%= f.label :about, t(:about), :class => "required" %>
      <%= f.text_area :about, :size => "100x5", :style => "width: 600px;" %>
    </div>

    <div class="box">
      <div class="boxline markdown_help_toggler" style="margin-left: 9em;
      width: 600px;">
        <div class="markdown_help_label">
          Markdown formatting available
        </div>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>

    <div class="legend">
      <%=t :commentreplynotificationsettings %>
    </div>

    <div class="boxline">
      <%= f.label :email_replies, t(:receiveemailbox), :class => "required" %>
      <%= f.check_box :email_replies %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_replies, t(:receivepushoveralertbox),
        :class => "required" %>
      <%= f.check_box :pushover_replies %>
      <span class="hint">
        <%=t :requireuserkeybox %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%=t :commentmentionnotificationsettings %>
    </div>

    <div class="boxline">
      <%= f.label :email_mentions, t(:receiveemailbox), :class => "required" %>
      <%= f.check_box :email_mentions %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_mentions, t(:receivepushoveralertbox),
        :class => "required" %>
      <%= f.check_box :pushover_mentions %>
      <span class="hint">
        <%=t :requireuserkeybox %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%=t :privatemessagenotificationsettings %>
    </div>

    <div class="boxline">
      <%= f.label :email_messages, t(:receiveemailbox), :class => "required" %>
      <%= f.check_box :email_messages %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_messages, t(:receivepushoveralertbox),
        :class => "required" %>
      <%= f.check_box :pushover_messages %>
      <span class="hint">
        <%=t :requireuserkeybox %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%=t :mailinglistsettings %>
    </div>

    <p>
      <%=t :mailinglistsettingsbodyipart1 %><a href="/filters"><%=t :mailinglistsettingsbodyipart2 %></a><%=t :mailinglistsettingsbodyipart3 %>
    </p>

    <div class="boxline">
      <%= f.label :mailing_list_mode, t(:receivelistemails),
        :class => "required" %>
      <%= f.select :mailing_list_mode, [ [ t(:noemails), 0 ],
        [ t(:allstoriesandcomments), 1 ], [ t(:onlystories), 2 ] ] %>
    </div>

    <div class="boxline">
      <label class="required"><%=t :listaddress %></label>
      <span>
      <tt><%= Rails.application.shortname %>-<%=
        @edit_user.mailing_list_token %>@<%= Rails.application.domain %></tt>
      </span>
    </div>

    <br>
    <%= f.submit t(:saveallsettings) %>
  <% end %>

  <br>
  <br>

  <%= form_for @edit_user, :url => delete_account_url, :method => :post,
  :html => { :id => "delete_user" } do |f| %>
    <div class="legend">
      <%=t :deleteaccount %>
    </div>

    <p>
    <%=t :permanentlydeleteaccountbody %>
    </p>

    <div class="boxline">
      <%= f.label :password, t(:verifypassword), :class => "required" %>
      <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
    </div>

    <br>
    <%= f.submit t(:deletemyaccount) %>
  <% end %>

  <br>
  <br>

  <a name="invite"></a>
  <div class="legend">
    <%=t :inviteanewuser %>
  </div>

  <%= render :partial => "users/invitationform" %>
</div>
